.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeLink {
  text-decoration: none;
  color: inherit;
}

.userLink {
  text-decoration: none;
  color: inherit;
  margin-left: auto;
}