
.homeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}
.home{
  display: flex;
  justify-content: center ;
  align-items: center ;
  height: auto;
  width: 800px;
  flex-wrap: wrap;
  background-color: #e5e8e8;
  margin-bottom: 1rem
}