.TableContainer {
 margin-top: 10px;
}
.UserActivityTypography{
  text-align: center;
  margin-top: 10px;
  color: white;
  background-color: #1976d2
}
.UserActivityContainer{
    margin-top: 20px;
}
.ActivitiesInfo{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background-color: #1976d2
}