.postContainer {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  padding: 16px;

  @media (min-width: 768px) {
    max-width: 700px;
  }

  @media (min-width: 1024px) {
    max-width: 800px;
  }
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardMedia {
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}
.userLink {
  text-decoration: none;
  color: inherit;
}

.typography {
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}